<template>
  <div class="my-input">
    <input 
      type="text" 
      v-model="value"
    />
  </div>
</template>

<script>
  export default {
    props: {
      initialValue: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        value: this.initialValue
      }
    }
  }
</script>