$fontFamily: sans-serif;
$fontFamilyAlt: 'Times New Roman', serif;

$fontSizeSmall: 12px;
$baseFontSize: 16px;
$fontSizeLarge: 20px;

$fontWeightThin: 300;
$fontWeightRegular: 400;
$fontWeightSemiBold: 500;
$fontWeightBold: 600;
$fontWeightBlack: 900;