<template>
  <div class="app">
    <input-vue :initial-value="title" />
  </div>
</template>

<script>
  import InputVue from './components/input/input';

  export default {
    data() {
      return {
        title: 'Hello World'
      }
    },
    components: {
      InputVue
    }
  }
</script>